* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif;
 */
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'PT Serif', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #5e5e5e;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

label,
input,
select,
textarea{
    display: block;
}

section{
    padding: 0;
    margin: 0;

}

.container {
    max-width: 1170px;
    padding: 0;
    margin: 0 auto;
}

.header {
    font-family: 'Roboto', sans-serif;
}

.header__top {
    background-color: #303030;
}

.header__contacts {
    display: block;
}

.header__btn {
    float: right;
    position: relative;
    color: #1b1b1b;
    background-color: #ffc222;
    line-height: 36px;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
}

.header__tel,
.header__email {
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header__tel {
    padding-left: 20px;
    padding-right: 30px;
}

.header__tel::before {
    content: "\f095";
    font-family: 'icomoon';
    color: #ffc222;
    position: absolute;
    left: 0;
}

.header__email::before {
    content: "\f003";
    font-family: 'icomoon';
    color: #ffc222;
    position: absolute;
    left: 0;
}

.header__email {
    padding-left: 24px;
}

.header__content {
    padding: 34px 0 23px;
}

.menu li {
    display: inline-block;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0 16px;
    transition: all .3s;
}

.menu a:hover {
    border-color: #ffc222;
}

.menu li+li {
    padding-left: 10px;
}

.header__btn::before {
    content: "\f0b1";
    font-family: 'icomoon';
    color: #1b1b1b;
    position: absolute;
    left: 20px;
}

.slider {
    background-image: url(../img/slider_fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;

}

.slider__item-content {
    text-align: center;
    padding-top: 120px;
    max-width: 665px;
    margin: 0 auto;
}

.slider__title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.slider__text {
    font-size: 18px;
    line-height: 24px;
    color: #d3d2d2;
    margin-bottom: 50px;
}

.slider__btn {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    cursor: pointer;
}

.default-btn {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
}

.default-btn::after {
    content: "\f054";
    font-family: 'icomoon';
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.slider__inner {
    position: relative;
}

.slick-btn {
    position: absolute;
    top: 75%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #ffc222;
    transition: all 0.3s;
    background-color: #ffc222;
    color: #fafafa;
    cursor: pointer;
    outline: none;
}

.slick-btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    background-color: transparent;
}

.slick-next::before {
    content: "\f054";
}

.slick-prev::before {
    content: "\f053";
}

.slick-btn.slick-disabled {
    background-color: transparent;
    cursor: default;
}

.slick-next {
    right: 0;
}

.slick-prev {
    left: 0;
}

.about {
    padding: 50px 0 30px;
}

.about__top,
.form__top {
    margin-bottom: 70px;
    position: relative;
}

.about__title,
.form__title {
    padding-left: 140px;
    letter-spacing: 0.1px;
}

.title::before {
    content: '';
    background-color: #ffc222;
    height: 2px;
    width: 106px;
    display: block;
    position: absolute;
    left: 0;
    top: 8px;
}

.about__top-text,
.form__top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__text {
    max-width: 530px;
    padding-left: 140px;
}

.about__btn {
    display: block;
    padding: 10px 38px;
    border: 3px solid rgba(230, 230, 230, 0.9);
    color: #373636;
}

.item__btn {
    color: #444343;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.25px;
}

.about__items {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.about__item {
    background-color: #f9f9f9;
    box-shadow: 7px 7px 27px rgba(0, 0, 0, 0.1);
    max-width: 360px;
}

.about__item+.about__item {
    margin-left: 30px;
}

.item__inner {
    padding: 20px 40px 30px;
}

.item__img {
    display: block;
    margin: 0 auto;
    height: 54px;
}

.item__title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.item__text {
    text-align: center;
}

.item__title {
    margin: 30px 0;
}

.item__text {
    margin-bottom: 70px;
}

.about__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__link {
    color: #444343;
}

.about__link::after {
    content: '';
    height: 1px;
    background-color: #444343;
    display: block;
}

.company {
    background-image: url(../img/fon_company.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.company__inner {
    max-width: 50%;
    padding-top: 35px;
    padding-bottom: 48px;
    padding-left: 15px;
}

.company__title,
.company__text {
    margin-bottom: 40px;
}

.company__title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #f9f9f9;
    letter-spacing: 1.1px;
}

.company__text {
    line-height: 24px;
    font-size: 14px;
    color: #d3d2d2;
}

.company__link {
    color: #eff0f0;
}

.form {
    padding-top: 50px;
}

.form__inner {
    background-image: url(../img/girl.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.form__box-inner {
    display: flex;
    
}

.form__box-left {
    max-width: 260px;
    width: 100%;
}

.form__label{
    color: #1b1b1b;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
}

.form__input {
    color: red;
    outline: none;
    padding: 0 10px;    
}

.form__input,
.form__select {
    width: 100%;
    height: 40px; 
    margin-bottom: 10px;
    margin-top: 8px;
    border:1px solid #e6e6e6;
}

.form__textarea{
    width: 100%;
    height: 192px;
    margin-bottom: 10px;
    margin-top: 8px;
    border:1px solid #e6e6e6;
}

.form__box-right {
    margin-left: 30px;
    padding-bottom: 40px;
    max-width: 555px;
    width: 100%;
}

.form__box-btn{ 
    display: flex;
    justify-content: flex-end;
}

.form__btn {
    background-color: transparent;
    margin-top: 25px;
}

.form__btn::after{
    color: #1b1b1b;
}







#myModal {
    width: 298px;
    height: 218px;
    padding: 18px 9px;
    border-radius: 4px;
    background: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
}

#myModal #myModal__close {
    width: 21px;
    height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px;
    right: 11px;
    cursor: pointer;
    display: block;
}

#myOverlay {
    z-index: 37;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}