* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif;
 */
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'PT Serif', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #5e5e5e;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

label,
input,
select,
textarea {
    display: block;
}

section {
    padding: 0;
    margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    padding: 0;
    margin: 0 auto;
}

.header {
    font-family: 'Roboto', sans-serif;
}

.header__top {
    background-color: #303030;
}

.header__contacts {
    display: block;
}

.header__btn {
    float: right;
    position: relative;
    color: #1b1b1b;
    background-color: #ffc222;
    line-height: 36px;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
}

.contacts__btn {
    position: relative;
    color: #1b1b1b;
    background-color: #ffc222;
    line-height: 46px;
    padding: 0px 25px 0px 50px;
    font-size: 16px;
    margin-bottom: 20px;

}


.header__tel,
.header__email,
.contacts__email, 
.contacts__point,
.contacts__tel {
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}


.contacts__point::before {
    content: "\e947";
    font-family: 'icomoon';
    color: #ffc222;
    position: absolute;
    left: 0;
}

.header__tel, 
.contacts__tel,
.contacts__point  {
    padding-left: 20px;
    padding-right: 30px;
}

.header__tel::before,
.contacts__tel::before  {
    content: "\f095";
    font-family: 'icomoon';
    color: #ffc222;
    position: absolute;
    left: 0;
}

.header__email::before,
.contacts__email::before {
    content: "\f003";
    font-family: 'icomoon';
    color: #ffc222;
    position: absolute;
    left: 0;
}

.header__email,
.contacts__email {
    padding-left: 24px;
}

.header__content {
    padding: 34px 0 23px;
}

.menu li {
    display: inline-block;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0 16px;
    transition: all .3s;
}

.menu a:hover {
    border-color: #ffc222;
}

.menu li+li {
    padding-left: 10px;
}

.header__btn::before,
.contacts__btn::before {
    content: "\f0f2";
    font-family: 'icomoon';
    color: #1b1b1b;
    position: absolute;
    left: 20px;
}

.slider {
    background-image: url(../img/slider_fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;

}

.slider__item-content {
    text-align: center;
    padding-top: 120px;
    max-width: 665px;
    margin: 0 auto;
}

.slider__title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.slider__text {
    font-size: 18px;
    line-height: 24px;
    color: #d3d2d2;
    margin-bottom: 50px;
}

.slider__btn {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    cursor: pointer;
}

.default-btn {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
}

.default-btn::after {
    content: "\f054";
    font-family: 'icomoon';
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.slider__inner {
    position: relative;
}

.slider__inner .slick-btn {
    position: absolute;
    top: 75%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #ffc222;
    transition: all 0.3s;
    background-color: #ffc222;
    color: #fafafa;
    cursor: pointer;
    outline: none;
}

.slider__inner .slick-btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    background-color: transparent;
}

.slider__inner .slick-next::before {
    content: "\f054";
}

.slider__inner .slick-prev::before {
    content: "\f053";
}

.slider__inner .slick-btn.slick-disabled {
    background-color: transparent;
    cursor: default;
}

.slider__inner .slick-next {
    right: 0;
}

.slider__inner .slick-prev {
    left: 0;
}

.about {
    padding: 50px 0 30px;
}

.about__top,
.form__top,
.news__top {
    margin-bottom: 70px;
    position: relative;
}

.about__title,
.form__title,
.news__title {
    padding-left: 140px;
    letter-spacing: 0.1px;
    margin-bottom: 15px;
}

.title::before {
    content: '';
    background-color: #ffc222;
    height: 2px;
    width: 106px;
    display: block;
    position: absolute;
    left: 0;
    top: 8px;
}

.about__top-text,
.form__top-text,
.news__top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__text {
    max-width: 530px;
    padding-left: 140px;
}

.about__btn {
    display: block;
    padding: 10px 38px;
    border: 3px solid rgba(230, 230, 230, 0.9);
    color: #373636;
}

.item__btn {
    color: #444343;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.25px;
}

.about__items {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.about__item {
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
    max-width: 360px;
}

  
.about__item+.about__item {
    margin-left: 30px;
}

.item__inner {
    padding: 20px 40px 30px;
}

.item__img {
    display: block;
    margin: 0 auto;
    height: 54px;
}

.item__title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
     margin: 30px 0;
}

.item__text {
    text-align: center;
    margin-bottom: 70px;
}

.about__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__link {
    color: #444343;
}

.about__link::after {
    content: '';
    height: 1px;
    background-color: #444343;
    display: block;
}

.company {
    background-image: url(../img/fon_company.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.company__inner {
    max-width: 50%;
    padding-top: 35px;
    padding-bottom: 48px;
    padding-left: 15px;
}

.company__title,
.company__text {
    margin-bottom: 40px;
}

.company__title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #f9f9f9;
    letter-spacing: 1.1px;
}

.company__text {
    line-height: 24px;
    font-size: 14px;
    color: #d3d2d2;
}

.company__link {
    color: #eff0f0;
}

.form {
    padding-top: 50px;
}

.form__inner {
    background-image: url(../img/girl.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
}

.form__box-inner {
    display: flex;

}

.form__box-left {
    max-width: 260px;
    width: 100%;
}

.form__label {
    color: #1b1b1b;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
}



.form__input,
.form__select {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid #e6e6e6;
    outline: none;
    color: #444343;
    padding: 0 10px;
}

.form__textarea {
    width: 100%;
    height: 185px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid #e6e6e6;
    outline: none;
}

.form__box-right {
    margin-left: 30px;
    padding-bottom: 40px;
    max-width: 555px;
    width: 100%;
}

.form__box-btn {
    display: flex;
    justify-content: flex-end;
}

.form__btn {
    background-color: transparent;
    margin-top: 25px;
}

.form__btn::after {
    color: #1b1b1b;
}

.benefits {
    background-image: url(../img/benefits_fon.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.container {}

.benefits__items {
    display: flex;
    justify-content: space-between;
}

.benefits__item {
    max-width: 360px;
    padding-bottom: 38px;
    padding-top: 50px;
}

.benefits__img {
    border: 1px solid #ffc222;
    height: 40px;
    width: 40px;
    margin: 0 auto;
}

.benefits__img p {
    text-align: center;
    line-height: 40px;
    color: #fff;
    align-items: center;
}

.benefits__img p::after {
    content: "\f00c";
    font-family: 'icomoon';
    color: #fff;
}

.benefits__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #f6f7f9;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 28px;

}

.benefits__text {
    font-size: 14px;
    line-height: 24px;
    color: #d3d2d2;
    letter-spacing: 1.1px;
    text-align: center;
}

.news {
    padding: 40px 0 40px;
    background-color: #f9f9f9;
}


.news__box {
    padding-bottom: 70px;
}

.news__box-inner {
    display: flex;
    justify-content: space-between;
}

.news__box-slider {
    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
}

.news__slider-items {
    max-width: 585px;
    position: relative;
}


/* стилим кнопки */

.news__slider-items .slick-btn {
    position: absolute;
    bottom: -80px;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid #ffc222;
    transition: all 0.3s;
    background-color: #ffc222;
    color: #fafafa;
    cursor: pointer;
    outline: none;
}

.news__slider-items .slick-btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
    background-color: transparent;
}

.news__slider-items .slick-next::before {
    content: "\f054";
}

.news__slider-items .slick-prev::before {
    content: "\f053";
}

.news__slider-items .slick-btn.slick-disabled {
    background-color: transparent;
    cursor: default;
    color: #d3d2d2;
    border-color: #d3d2d2;
}

.news__slider-items .slick-next {
    right: 0;
}

.news__slider-items .slick-prev {
    right:  60px;
}










.news__slider-items.slick-next{
    position: absolute;
    left: 0;
    bottom: 0;
}


.news__slider-item {
    padding: 60px 30px 40px 60px;
    position: relative;
    

}

.news__slider-item h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.5px;
    color: #242424;
    margin-bottom: 15px;
}

.news__slider-item h3::after{
    content: "\f10e";
    font-family: 'icomoon';
    font-size: 16px;
    color: #fff;
    border: 1px solid #ffc222;
    background-color: #ffc222;
    padding: 5px 25px;
    position: absolute;
    top: 0;
    left: 60px;
}

.news__slider-item p {
    margin-bottom: 30px;
}
.news__slider-item span {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.1px;
    color: #242424;
}



.news__box-items {
    display: flex;
    justify-content: space-between;
    
}

.js-slider{
    position: relative;
}

.news__box-item {
    margin-left: 30px;
    position: relative;
}   

.news__box-item h4 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.5px;
    color: #242424;
    margin: 20px 0;
    font-family: 'Roboto', sans-serif;
}

.news__box-item h4::after{
    content: "03.04";
    font-family: 'icomoon';
    font-size: 14px;
    color: #fff;
    border: 1px solid #ffc222;
    background-color: #ffc222;
    padding: 30px 5px 10px;
    position: absolute;
    top: 0;
    left: 13px;
}

.news__box-item p{
    color: #5e5e5e;
}



.contacts {
    background-color: #595959;
   
}

.contacts__inner {
    padding: 30px auto;
    display: flex;
    justify-content: space-between;
}

.contacts-list{
    display: block;
}

.contacts__content {
    padding: 30px auto;
    
}
.contacts__title {
}

.contacts__title h4{
    font-family: 'Roboto', sans-serif;
    color: #d3d2d2;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    padding-top: 30px;
}

.contacts__title p{
    color: #d3d2d2;
    font-size: 14px;
    line-height: 20px;
    max-width: 360px;
    margin-bottom: 35px;
}

.map {
    padding: 50px 0;
}
/* jqformstyler */
.contacts__email, 
.contacts__point,
.contacts__tel {
    line-height: 30px;
}

.contacts__point{
    padding-bottom: 30px;
}

.footer {
    background-color: #303030;
}

.footer__content {
    font-family: 'Roboto', sans-serif;
    color:#d3d2d2;
    font-size: 12px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 1.5px;
}


.myModal__title{
font-size: 18px;
line-height: 24px;
margin-bottom: 15px;
color: #1b1b1b;
}
    


#myModal {
    width: 300px;
    height: 400px;
    padding: 30px 20px;
    border-radius: 1px;
    background: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
}

#myModal #myModal__close {
    width: 21px;
    height: 21px;
    position: absolute;
    font-size: 29px;
    top: 1px;
    right: 11px;
    cursor: pointer;
    display: block;
}

#myOverlay {
    z-index: 37;
    position: fixed;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}